@import url('https://fonts.googleapis.com/css?family=Russo+One');

body{
  font-family: russo One;
  background-color: #f8f8f8;
  width: 100%;
  }
  div.todo{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

/*<--   Header   --> */

header nav div.buscador{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

/*<--   Header   --> */


div.div1{
  align-items: flex-start;
  width: 33.3%;
}

article.art{
  align-items: flex-end;
  width: 66.6%
}

p#generos{
  color: black;
}
p#generos a{
  color: black;
}
p#generos a.hover{
  color: grey;
}
p#idioma{
  color: black;
}
p#overview{
  color: black;
}
p#puntaje{
  color: black;
}
p#ulEpisodio{
  color: black;
}
p#proxEpisodio{
  color: black;
}
p#temporadas{
  color: black;
}
p#episodios{
  color: black;
}

#id-progressbar{
  background-color: black;
}
.barra{
  background-color: black;
  border-color: black;
}

h2{
  text-align: center;
}

div.uk-first-column{
  width: 100%;
}

.uk-article{
  padding-left: 25px;
}

#div1 img.img{
}

/*<--   Footer ARREGLARRRRRRRRRRRRR  --> */
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0px;
}
img.logo{
  max-width: 50px;
  display: flex;
  margin-right: 10px;
  justify-content: flex-start;
}

p.firma{
  color: black;
  justify-content: flex-end;
  font: "times new roman";
  text-decoration: none;
}

a.logoa{
width: 100%;
}

.logoa:hover{
  text-decoration: none;
}

div#articleArriba{
  display: flex;
  flex-direction: row;  
}

div#videosTodos{
  display: flex;
  flex-direction: column;
}

/*<--   Footer   --> */
