@import url('https://fonts.googleapis.com/css?family=Russo+One');

body{
  font-family: russo One;
  background-color: #f8f8f8;
  width: 100%;
}

/*<--   Header   --> */
.uk-navbar{
  background-color: grey;
}

header nav div.buscador{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}
.login{
  display: flex;
  align-items: center;
  margin-top: 29px;
  margin-right: 15px;
}

.li-menu{
display: flex;
align-items: center;
}

.signup{
  margin-top: 23px;
  margin-right: 15px;
}
/*<--   Header   --> */


p{
  color: black;
  font-family: "times new roman";
  font-size: 12px;
}

.populares{
  width: 500px
}

.uk-card-body{
  padding: 5px;
}

/*<--   Footer   --> */
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img.logo{
  max-width: 50px;
  display: flex;
  margin-right: 10px;
  justify-content: flex-start;
}

p.firma{
  color: black;
  justify-content: flex-end;
  font: "times new roman";
  text-decoration: none;
}

.logoa:hover{
  text-decoration: none;
}

/*<--   Footer   --> */
