@import url('https://fonts.googleapis.com/css?family=Russo+One');

body{
  font-family: russo One;
  background-color: #f8f8f8;
  width: 100%;}

  /*<--   Header   --> */
  .uk-navbar{
    background-color: grey;
  }

  header nav div.buscador{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
  }
  /*<--   Header   --> */

.container {
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
width: 100%;
}
div.imgcont{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
article {
  height: 40%;
  width: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
}
article.genero h1{
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
}
article.genero img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

article h1 a:hover {
  text-decoration: none;
  color: black;
}

.genclick {
  width: 500px;
}


hello.world {
  position: absolute;
}
