@import url('https://fonts.googleapis.com/css?family=Russo+One');

body{
  font-family: russo One;}

  /*<--   Header   --> */

  header{
    background-color: grey;
    width: 100%;
    height: 80px;
  }

  header ul li.li-menu{
    display:inline;
    margin-right: 10px;
  }

  header ul li a.a-menu{
  color: black;
  text-decoration: none;
  align-items: flex-end;
    position: relative;
    right: -65%;
    top: -40px;
  }

  header ul li a.a-menu:hover{
    text-decoration: none;
    color: green;
  }

  header nav div.buscador{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 12px 0;
    position: relative;
    right: -1%;
  }

  input[type:search]{
    padding: 10px;
    padding-right: 35px;
    border: none;
  }

  /*<--   Header   --> */

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}

article {

  height: 40%;
  width: 40%;
}

article.genero h1{
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
}

article.genero img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
div.imgcont{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
